In [16]:
import pandas as pd
from nltk.tokenize import RegexpTokenizer


from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.stop_words import ENGLISH_STOP_WORDS as stopwords
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV

from nltk.stem.snowball import SnowballStemmer

In [17]:
t1 = pd.read_csv('t1_w_clusters.csv')

In [18]:
t1.groupby('clusters').count()

,title,selftext,subreddit,created_utc,author,num_comments,score,is_self,timestamp,all_text,new_text,text_ready_to_stem
clusters,,,,,,,,,,,,
0,2187,2187,2187,2187,2187,2187,2187,2187,2187,2187,2187,2187
1,176,176,176,176,176,176,176,176,176,176,176,176
2,4,4,4,4,4,4,4,4,4,4,4,4
3,51,51,51,51,51,51,51,51,51,51,51,51
4,523,523,523,523,523,523,523,523,523,523,523,523
5,1342,1342,1342,1342,1342,1342,1342,1342,1342,1342,1342,1342

In [19]:
mask0=t1['clusters']==0
mask1=t1['clusters']==1
mask2=t1['clusters']==2
mask3=t1['clusters']==3
mask4=t1['clusters']==4
mask5=t1['clusters']==5

In [25]:
cluster0=t1[mask0]
cluster1=t1[mask1]
cluster2=t1[mask2]
cluster3=t1[mask3]
cluster4=t1[mask4]
cluster5=t1[mask5]

In [34]:
#count
freq_mask0 = pd.Series(''.join(cluster0['text_ready_to_stem']).split()).value_counts()
freq_mask1 = pd.Series(''.join(cluster1['text_ready_to_stem']).split()).value_counts()
freq_mask2 = pd.Series(''.join(cluster2['text_ready_to_stem']).split()).value_counts()
freq_mask3 = pd.Series(''.join(cluster3['text_ready_to_stem']).split()).value_counts()
freq_mask4 = pd.Series(''.join(cluster4['text_ready_to_stem']).split()).value_counts()
freq_mask5 = pd.Series(''.join(cluster5['text_ready_to_stem']).split()).value_counts()

In [38]:
freq_mask0.head(10)

I       4852
to      3032
a       2708
and     2694
the     2586
my      1714
it      1541
of      1440
for     1436
have    1241
dtype: int64

In [39]:
freq_mask1.head(10)

I       3653
to      2300
and     2169
the     1972
a       1622
my      1419
of      1170
it       940
for      812
that     795
dtype: int64

In [40]:
freq_mask3.head(10)

I       1502
the     1146
to      1020
and     1018
a        695
my       585
of       493
it       454
that     372
in       368
dtype: int64

In [41]:
freq_mask4.head(10)

I       6196
to      4100
and     3636
the     3248
a       2664
my      2484
it      1934
of      1816
for     1371
that    1309
dtype: int64

In [42]:
freq_mask5.head(10)

I      8349
to     5220
the    4916
and    4735
a      3884
my     3054
it     2458
of     2449
for    2019
in     1823
dtype: int64

In [ ]:
#df
freq_words_df=pd.DataFrame({'Showerthoughts':freq_shower.T, 'Todayilearned': freq_til.T})
freq_words_df.fillna(0, inplace=True)
mask1=freq_words_df['Showerthoughts']>=10
mask2=freq_words_df['Todayilearned']>=10
freq_words_df=freq_words_df[mask1 & mask2]

import plotly.offline    as py
import cufflinks         as cf
py.init_notebook_mode(connected=False) 
cf.set_config_file(offline=True)
#graph
freq_words_df.T.iplot(
    kind='bar',
    bins=100,
    xTitle='Reddit',
    linecolor='black',
    yTitle='Count',
    title='Common Words Count in each Reddit',
    sortbars=True)